@mixin name{
  color: #235180;
  border-bottom: 5px solid #235180;
  border-right: 5px solid #235180;
}
.bikes{
  .top{
    .content{
      height:calc(100vh - 120px);
      background-color: #CCCCCC;
      height: 100%;
      &__top{
        &__count{
          font-size: 25px;
  
        }
        &__form{
          // margin: 0 auto;
          display: flex;
          padding-bottom: 50px;
        &__text{
          background-color: white;
          height: 50px;
          width: 400px;
          margin-left: 30vw;
        }
        &__submit{
          line-height: 50px;
        }
      }
      }
      &__bottom{
        height: 300px;
        overflow: scroll;
        background-color: lightblue;
        text-decoration: none;
        &__font{
          font-size: 30px;
        }
        &__list{
          &__box{
            display: flex;
          &__font{
            color: blue;
          &__link{
            text-decoration: none;
            color: green;
            font-size: 20px;
            margin-bottom: 2px;
          }
        }
          &__link-add{
            font-size: 20px;
            border: solid 3px gray;
          }
        }
        }
      }
      &__group{
        display: flex;
      &__left{
        margin-left: 50px;
        padding: 20px 20px 450px 20px;
        width: 38vw;
        height: 50px;
        background-color: #4790BB;
        line-height: 50px;
        text-align: center;
        border-radius: 20px;
        &__font{
          color: #4790BB;
          background-color: #235180;
          border-radius: 20px;
        }
        &__font:hover{
          color: #4790BB;
          border-bottom: 5px solid #28385E;
          border-right: 5px solid #28385E;
          padding: 10px;
        }
        &__list{
          display: none;
        }
      }
      &__left:hover{
        padding: 20px 20px 450px 20px;
        // background-color: red;
        .content__group__left__font{
          
        }
        .content__group__left__list{
          display: block;
          &__box{
            padding: 8px;
            margin: 4px;
            color: #4790BB;
            background-color: #C0C0C0;
            border-radius: 20px;
            &__name{
              color: #4790BB;
            }
          }
          &__box:hover{
            @include name;

          }
        }
      }
      &__chat{
        margin: 0 auto;
        padding: 20px 20px 450px 20px;
        width: 38vw;
        height: 50px;
        background-color: #4790BB;
        line-height: 50px;
        text-align: center;
        border-radius: 20px;
        &__box{
          &__message{
            margin: 4px;
            background-color: white;
            border-radius: 20px;
          }
          &__date{
            font-size: 13px;
            background-color: #235180;
            border-radius: 20px;
            height: 30px;
            line-height: 30px;
          }
        }
      }
    }
    }
  }
}