//bikesコントローラーのnewアクションに対応するscss
.content-n{
  &__info{

  }
  &__form{
    width: 300px;
    // background-color: lightblue;
    &__box{
      border: solid 1px gray;
      display: flex;
      justify-content: space-between;
    }
  }
  &__submit{
    margin-top: 50px;
    margin-left: 100px;
    background-color: red;
  }
}