  //ヘッダーフッターのscss
  header{
    height: 70px;
    background-color:white;
    line-height: 70px;
    display: flex;
    justify-content: space-between;

    .name {
      text-decoration: none;
      margin-left: 10px;
      font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;;
      font-size: 40px;
      color: red;
      text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #fff;
      font-weight: bold;
      letter-spacing: -4px;
      border-radius: 20px;
    }

    .btn{
      font-size: 20px;
      display: block;
      &__user{
        text-decoration: none;
      }
      &__post{
        text-decoration: none;
        color: pink;
        //border: solid 1px blue;
      }
      &__sign-out{
        text-decoration: none;
        color: pink;
      }
      &__sign-up{
        text-decoration: none;
        color: pink;
        //border: solid 1px blue;
      }
      &__sign-in{
        text-decoration: none;
        color: pink;
        //border: solid 1px blue;
      }
    }
  }
  footer{
    height: 50px;
    background-color: yellow;
    }