.groups{
  &__group{
    &__label{
    &__link{
      text-decoration: none;
      display: block;
      text-align: center;
    }
    &__list{
      display: none;
    }
    &__link-add{
      font-size: 30px;
      background-color: gray;
      border: solid 3px black;
    }
  }
}
}
